<launch>
  <arg name="robot_ip" default="192.168.1.102"/>
  <arg name="sim" default="false"/>
  <arg name="debug" default="false"/>
  
  <!-- Remap follow_joint_trajectory for real robot -->
  <remap if="$(arg sim)" from="/scaled_pos_joint_traj_controller/follow_joint_trajectory" to="/eff_joint_traj_controller/follow_joint_trajectory"/>

  <!-- Launch MoveIt -->
  <include file="$(find ur5e_moveit_config)/launch/move_group.launch">
    <arg name="debug" value="$(arg debug)" />
  </include>
  
</launch>
